@page "/Account/AccessDenied"

@* 権限不足でアクセスできない場合に表示する画面です。 *@
<PageTitle>アクセス拒否</PageTitle>

<header>
    <h1 class="text-danger">アクセスできません</h1>
    <p class="text-danger">この画面を表示する権限がありません。</p>
</header>
