@page "/Account/Lockout"

@* ログイン失敗が続き、アカウントが一時ロックされた場合に表示する画面です。 *@
<PageTitle>アカウントロック</PageTitle>

<header>
    <h1 class="text-danger">アカウントがロックされています</h1>
    <p class="text-danger" role="alert">ログイン失敗が続いたため、一時的にログインできません。時間をおいて再度お試しください。</p>
</header>
