@page "/Account/ResetPasswordConfirmation"

@* パスワード再設定が完了したことを利用者へ伝える画面です。 *@
<PageTitle>パスワード再設定完了</PageTitle>

<h1>パスワードを再設定しました</h1>
<p role="alert">
    新しいパスワードで <a href="Account/Login">ログイン</a> してください。
</p>
